.skewed-button {
  position: relative;
  border: none;
  transform: skewX(-30deg);
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px 15px 5px 15px;
}

.skewed-button:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    45deg,
    transparent 50%,
    rgba(255, 255, 255, 0.03) 58%,
    rgba(255, 255, 255, 0.16) 67%,
    transparent 68%
  );
  background-size: 200% 100%;
  background-position: 165% 0;
  transition: 0.7s;
  border-radius: 5px 15px 5px 15px;
}

.skewed-button:hover:after {
  background-position: -20% 0;
}

.skewed-button span {
  display: inline-block;
  transform: skewX(30deg);
}

/* Desktop override */
@media (min-width: 640px) {
  .skewed-button {
    padding: var(--skew-button-desktop-padding) !important;
    font-size: 16px !important;
  }
}

/* Mobile override */
@media (max-width: 639px) {
  .skewed-button {
    padding: 8px 15px !important;
    font-size: 14px !important;
  }
}
